# Project Euler Problems #41 to #50


We shall say that an *n*-digit number is pandigital if it makes use of all the digits 1 to *n* exactly once. For example, 2143 is a 4-digit pandigital and is also prime.


What is the largest *n*-digit pandigital prime that exists?

The *n*th term of the sequence of triangle numbers is given by, *tn* = ½*n*(*n*+1); so the first ten triangle numbers are:


1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...


By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is 19 + 11 + 25 = 55 = *t*10. If the word value is a triangle number then we shall call the word a triangle word.


Using [words.txt](project/resources/p042_words.txt) (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common English words, how many are triangle words?

The number, 1406357289, is a 0 to 9 pandigital number because it is made up of each of the digits 0 to 9 in some order, but it also has a rather interesting sub-string divisibility property.


Let *d*1 be the 1st digit, *d*2 be the 2nd digit, and so on. In this way, we note the following:


* *d*2*d*3*d*4=406 is divisible by 2
* *d*3*d*4*d*5=063 is divisible by 3
* *d*4*d*5*d*6=635 is divisible by 5
* *d*5*d*6*d*7=357 is divisible by 7
* *d*6*d*7*d*8=572 is divisible by 11
* *d*7*d*8*d*9=728 is divisible by 13
* *d*8*d*9*d*10=289 is divisible by 17

Find the sum of all 0 to 9 pandigital numbers with this property.

Pentagonal numbers are generated by the formula, Pn=n(3n−1)/2. The first ten pentagonal numbers are:


1, 5, 12, 22, 35, 51, 70, 92, 117, 145, ...


It can be seen that P4 + P7 = 22 + 70 = 92 = P8. However, their difference, 70 − 22 = 48, is not pentagonal.


Find the pair of pentagonal numbers, Pj and Pk, for which their sum and difference are pentagonal and D = |Pk − Pj| is minimised; what is the value of D?

Triangle, pentagonal, and hexagonal numbers are generated by the following formulae:




|  |  |  |  |  |
| --- | --- | --- | --- | --- |
| Triangle |  | T*n*=*n*(*n*+1)/2 |  | 1, 3, 6, 10, 15, ... |
| Pentagonal |  | P*n*=*n*(3*n*−1)/2 |  | 1, 5, 12, 22, 35, ... |
| Hexagonal |  | H*n*=*n*(2*n*−1) |  | 1, 6, 15, 28, 45, ... |

It can be verified that T285 = P165 = H143 = 40755.


Find the next triangle number that is also pentagonal and hexagonal.

It was proposed by Christian Goldbach that every odd composite number can be written as the sum of a prime and twice a square.


9 = 7 + 2×12  

15 = 7 + 2×22  

21 = 3 + 2×32  

25 = 7 + 2×32  

27 = 19 + 2×22  

33 = 31 + 2×12


It turns out that the conjecture was false.


What is the smallest odd composite that cannot be written as the sum of a prime and twice a square?

The first two consecutive numbers to have two distinct prime factors are:


14 = 2 × 7  
15 = 3 × 5


The first three consecutive numbers to have three distinct prime factors are:


644 = 2² × 7 × 23  
645 = 3 × 5 × 43  
646 = 2 × 17 × 19.


Find the first four consecutive integers to have four distinct prime factors each. What is the first of these numbers?


The series, 11 + 22 + 33 + ... + 1010 = 10405071317.


Find the last ten digits of the series, 11 + 22 + 33 + ... + 10001000.

The arithmetic sequence, 1487, 4817, 8147, in which each of the terms increases by 3330, is unusual in two ways: (i) each of the three terms are prime, and, (ii) each of the 4-digit numbers are permutations of one another.


There are no arithmetic sequences made up of three 1-, 2-, or 3-digit primes, exhibiting this property, but there is one other 4-digit increasing sequence.


What 12-digit number do you form by concatenating the three terms in this sequence?

The prime 41, can be written as the sum of six consecutive primes:


41 = 2 + 3 + 5 + 7 + 11 + 13
This is the longest sum of consecutive primes that adds to a prime below one-hundred.


The longest sum of consecutive primes below one-thousand that adds to a prime, contains 21 terms, and is equal to 953.


Which prime, below one-million, can be written as the sum of the most consecutive primes?